<div class="ui main text container">
    <h1 class="ui header">Uzysjung Hapi Skeleton</h1>
    <p>Hapi Skeleton</p>
</div>


<div class="ui borderless main menu">
    <div class="ui text container">
        <div class="header item">
            <img class="logo" src="/public/img/favicon.png">
            Hapi
        </div>
        <a href="#" id="scrollToTop" class="item">Main</a>
        <a href="/documentation" class="ui right floated item" target="_blank"><i class="book icon"></i>
            Documentation</a>

    </div>
</div>
