<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">UzysHapiSkeleton</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/auth">basicAuthentication</a></li>
                <li><a href="/api/3">API</a></li>
                <li><a href="/documentation">Swagger</a></li>
                <li><a href="/debug/console">TV</a></li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>